@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@300&family=Roboto&display=swap');

body {
    background-color:lightpink;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;

}
blockquote {
    color: white;
    /*font-style:oblique;
    ^looks good but isn't a part of the assignment*/
}
ol {
    text-align: left;
    display: inline-block;
    font-weight: bold;
}
img {
    width: 60%;
    display: block;
    margin: 0 auto;
}
.large {
    font-size: 1.5em;
}
h1 {
    color: white;
}
h1:hover {
    color: black;
}
