:root {
    --black: #1F1F1C;
    --white: #E8EEF2;
    --brown: #B39C4D;
    --green-light: #768948;
    --green-dark: #52683C;
    --heading-font: 'Poppins', sans-serif;
    --paragraph-font: 'Open Sans', Helvetica, sans-serif;
}