@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main-para {
  font-size: 1.5em;
  line-height: 1.5em;
}

#active {
  background-color: lightgray;
  color: steelblue;
}

body {
    text-align: center;
  }
nav {
    background-color: steelblue;
    padding: 10px;
  }
  a {
    color: white;
    margin: 40px;
  }
  /*  press ctrl and / to automatically make a comment */
  h1 {
    color: steelblue;
    font-family: 'Poppins', sans-serif;
  }
  img {
    width: 800px;
    border: 4px solid steelblue;
  }
  p {
    padding: 10px;
  }
  footer {
    background-color: steelblue;
    color: white;
  }








